main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#preview {
  flex: 1;
  min-width: 0;
  overflow: scroll;
}

.toolbar {
  display: flex;
}

#inspect-tool {
  width: 300px;
}
